/*--------------------------------------------------------- */
/**
* by Emerson Gabriel Pena Fernandes!
* Layout for .
*
* @project tecwebc.com.br.
* @version 1.0.
* @package layout.
* @author Emerson Fernandes.
* @copyright 2018.
* 
* @colordef ; 
* @colordef ;  
* @colordef ; 
/*--------------------------------------------------------- */
/*INICIO DO MEU MEU CSS*/
/*--------------------------------------------------------- */
.margin_top_1x{margin-top: 10px;}
.margin_top_2x{margin-top: 20px;}
.margin_top_3x{margin-top: 30px;}
.margin_top_4x{margin-top: 40px;}
.margin_top_5x{margin-top: 50px;}
.margin_top_6x{margin-top: 60px;}
.margin_top_7x{margin-top: 70px;}
.margin_left{margin-left: 60px}
.no_margin{margin: 0!important}
.no_margin_left{margin-left: 0!important}
.no_margin_right{margin-right: 0!important}
.normal_size{font-size: 1em;}
p{font-size: 1.2em;}
h1{font-size: 3em}
h2{font-size: 2.8em}
h3{font-size: 2.6em}
h4{font-size: 2.2em}
h5{font-size: 1.6em}
h6{font-size: 1.3em}

/*BASICOS*/
.i{
    background-color: blueviolet;
    height: 300px
}
.b{
    background-color: salmon;
    height: 50px;
}
.a{
    height: 120px;
    background-color: blue
}
.k{
    background-color: steelblue;
    height: 200px;
}
.c{
    background-color: cadetblue;
    height: 100px;
}

/*-----------------------------------*\
    $INTERFACE
\*-----------------------------------*/
.bg_card,.bg_white{
    background-color: white
}

.is-invalid::-webkit-input-placeholder {
    color: red;
}

.is-invalid:-moz-placeholder { /* Firefox 18- */
    color: red;  
}

.is-invalid::-moz-placeholder {  /* Firefox 19+ */
    color: red;  
}

.is-invalid:-ms-input-placeholder {  
    color: red;  
}
/*-----------------------------------*\
    $EDITIONS TEXT
\*-----------------------------------*/
.text_white{
    color: white!important
}
.text_black{
    color: black
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.pointer{
    cursor: pointer
}
/*-----------------------------------*\
  $LOADER
\*-----------------------------------*/
#loader>img{
    margin: 0 auto;
    height: 110px;
}
#loader{
    background-color: #000;
    height: 100%;
    width: 100%;
    padding-top: 42vh;
    padding-bottom: 30vh;
    opacity: 0.8;
    position: fixed;
    z-index: 10000
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/
.user-menu a{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
a.dropdown-item:hover p{
    color: #999999!important
}
a.dropdown-item:hover,.user-menu a:hover{
    background-color: #e6e7e8!important
}
.menu-title{
    padding-top: 5px!important
}
.logo_top img{
    margin-top: 10px;
    margin-bottom: 10px
}

/*-----------------------------------*\
  $EDTIONS OF MENU
\*-----------------------------------*/
.sub-menu li:hover i.fa{
    color: white!important
}
/*-----------------------------------*\
  $BODY
\*-----------------------------------*/
#name_user{
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px
}
.chosen-container{
    font-size: 15px
}
.box_right .btn-danger{
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px
}
.box_right .btn-info{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    border-radius: 5px
}
.box_right input{
    position: absolute;
    margin-top: -25px
}
.box_right{
    float: right;
}
.check_form {
    margin-top: 38px
}
.check_form input,.check_form label{
    float: left;
    display: block
}
.check_form input{
    margin: 0px 0 0 20px;
    width: 30px;
    height: 30px
}

ul.pagination li{
    margin-top: 10px;
    background-color: #999999
}
.paginate_button {
    padding: 0!important;
    border: 0!important;
}
.paginate_button a{
    padding: 8px 14px;
    background-color: #e6e7e8
}
.paginate_button a:hover{
    color: white!important;
    background-color: #999999!important;
}
.dataTables_length{
    margin-bottom: 5px
}
/*-----------------------------------*\
  $END EDTIONS BODY
\*-----------------------------------*/

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  $BEGIN EDTIONS PAGE .php
\*-----------------------------------*/

/*-----------------------------------*\
  $END EDTIONS PAGE .php
\*-----------------------------------*/

/*-----------------------------------*\
  $MEDIA QUERIES
\*-----------------------------------*/

@media only screen and (min-width: 1800px){}
@media (min-width:1600px) and (max-width: 1800px){}
@media (min-width:1500px) and (max-width: 1600px){}
@media (min-width:1400px) and (max-width: 1500px){}
@media (min-width:1300px) and (max-width: 1400px){}
@media only screen and (max-width: 1300px){}
@media only screen and (max-width: 1250px){}
@media only screen and (max-width: 1199px){}
@media only screen and (max-width: 1100px){}
@media only screen and (max-width: 1199px){}
@media only screen and (max-width: 991px){
    * {
        font-size: 13px;
    } 
    .no_row_sm{margin-left: 0px!important;margin-right: 0px!important;}
}
@media only screen and (max-width: 767px){
    * {
        font-size: 12px;
    } 
    .no_row_xs{margin-left: 0px!important;margin-right: 0px!important;}
    .text-right-xs{text-align: right;}
    .text-left-xs{text-align: left;}
    .text-center-xs{text-align: center;}
}
@media only screen and (max-width: 571px){
    .logo_top img{
        margin-top: 0px;
        margin-bottom: 0px;
        height: 30px
    }
    
}
@media only screen and (max-width: 320px){}


/*--------------------------------------------------------- */
/*FIM DO MEU MEU CSS*/
/*--------------------------------------------------------- */